main{
    text-align: center;
   .title{
        font-size: 90px;
        font-weight: 500;
   }
   .main-info{
        font-size: 22px;
        font-weight: 200;
   }
}
@media screen and (min-with: 900px) {
    .title{
        font-size: 72px;
    }
    .main-info{
        font-size: 12px;
    }
}